In [6]:
import pandas as pd
from datetime import datetime

In [7]:
def parser(x):
    return datetime.strptime('190'+x, '%Y-%m')

df = pd.read_csv(
    "data/shampoo-sales.csv", 
    index_col="Month", 
    parse_dates=["Month"], 
    date_parser=parser
    
)
df.head()

            Sales
Month
1901-01-01  266.0
1901-02-01  145.9
1901-03-01  183.1
1901-04-01  119.3
1901-05-01  180.3

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 36 entries, 1901-01-01 to 1903-12-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Sales   36 non-null     float64
dtypes: float64(1)
memory usage: 576.0 bytes