In [11]:
import pandas as pd
import matplotlib.pyplot as plt

diet = pd.read_csv(
    "data/NOAA_TAVG.csv", 
    # parse_dates=["Date"], 
    # index_col="Date"
)
diet.head()

   DATE  TAVG
0  1870  53.8
1  1871  51.3
2  1872  51.3
3  1873  50.9
4  1874  51.3